<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://78.47.52.69:5432/zombies</property>
        <property name="hibernate.connection.username">wh40</property>
        <property name="hibernate.connection.password">wh40pass</property>
        <property name="hibernate.hbm2ddl.auto"></property>
        <property name="hibernate.show_sql">false</property>
        <mapping class="game.Abilities"/>
        <mapping class="game.Deck"/>
        <mapping class="game.Fraction"/>
        <mapping class="game.SubFraction"/>
        <mapping class="game.Card"/>
        <mapping class="server.History"/>
        <mapping class="server.DetailStatistic"/>
        <mapping class="server.User"/>
        <mapping class="server.GameVersion"/>

    </session-factory>
</hibernate-configuration>
